@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');

.App {
    font-family: 'Montserrat';
    padding-top: 200px;
    text-transform: uppercase;
}

.App__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
